

<p-toast></p-toast>


<div class="progress-spinner" *ngIf="viewSpinner">
    <p-progressSpinner [style]="{width: '70px', height: '70px', opacity : '0.6'  }" styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)"
     animationDuration=".8s"></p-progressSpinner>
     <span style="font-weight: bold;font-size: large  ;" [style] = "{transition: 'opacity 0.5s linear 2s;' }" >Processing....</span>
</div>

<!--(onNodeSelect)="nodeSelect($event)"-->



<p-treeTable #tt [value]="files" [columns]="cols" selectionMode="checkbox" [(selection)]="selectedLetter"  >

    <ng-template pTemplate="caption">
        
        


        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"> 
                <button style="margin-left: 20px" pButton type="button"  icon="pi pi-chevron-down" (click)="expandNodes(files)"></button>
                <button pButton type="button"  icon="pi pi-chevron-up" (click)="collapseNodes(files)"></button>
           </span>
           <span>&nbsp;</span>
            <span class="p-inputgroup-addon"><p-treeTableHeaderCheckbox></p-treeTableHeaderCheckbox>&nbsp; Toggle All</span>
            
            <span>&nbsp;</span>
            <div class="p-inputgroup-addon" >        
                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Filter letler" (input)="tt.filterGlobal($any($event.target).value, 'contains')" style="width:auto">
            </div>
            <span>&nbsp;</span>
            <div class="p-inputgroup-addon">


                <span class="p-buttonset" style=" margin-right: 20px;">
 

                    <button pButton pRipple  [disabled]="selectedLetter.length==0" label="View/Print" icon="pi pi-eye" (click)="viewLetter();"></button>
                    <span>&nbsp;</span>
                    <button pButton pRipple  [disabled]="selectedLetter.length==0" label="Email" icon="pi pi-envelope" (click)="emailLetter();"></button>
              
                    
                </span>                
            </div>
            
        </div>

    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" >
                              
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr>
            <td *ngFor="let col of columns; let i = index">
                <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                <p-treeTableCheckbox [value]="rowNode" *ngIf="i == 0"></p-treeTableCheckbox>
            
                 {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>        
            <td [attr.colspan]="cols.length">No data found.</td>
        </tr>
    </ng-template>    
</p-treeTable>


