<p-toast></p-toast>

<div class="progress-spinner" *ngIf="viewSpinner">
    <p-progressSpinner [style]="{width: '70px', height: '70px', opacity : '0.6'  }" styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)"
     animationDuration=".8s"></p-progressSpinner>
     <span style="font-weight: bold;font-size: large  ;" [style] = "{transition: 'opacity 0.5s linear 2s;' }" >Processing....</span>
</div>

<div class="p-grid"  >
    
    <div class="p-col-12 p-sm-3" style="padding-bottom: 0px; margin-bottom: 0px; ">
        
        <div class="box" style="text-align: right; margin-right: 60px; margin-bottom: 0px;">

            <div style="float: left; margin-left: 60px;">


                <p-toggleButton onLabel="Overwrite existing letters" offLabel="Do not overwrite existing letters"
                onIcon="pi pi-check" offIcon="pi pi-times" [(ngModel)]="overWrite"></p-toggleButton>
    

            </div>


            <i class="pi pi-envelope  p-mr-4 p-text-secondary" pBadge   style="font-size: 1.7rem; margin-right: 30px;"
             value={{selectedCandidates.length}}></i>






            <p-dropdown [options]="letterTemplates" [(ngModel)]="selectedLetterTemplate" optionLabel="TemplateName"
                optionValue="TemplateID" (onChange)="onChangeTemplate($event)" >
            </p-dropdown>

            <button pButton type="button" label="Generate" [disabled]="selectedCandidates.length==0" 
            class="p-button-success" (click)="generate()"></button>

            
            <button pButton type="button" label="Delete" [disabled]="selectedCandidates.length==0" 
            class="p-button-danger" (click)="delete()"></button>
        </div>
    </div>


    <div class="p-col-12 " style="margin-top: 0px;">
        <div class="box" >

            <p-pickList [source]="availableCandidates" [target]="selectedCandidates" sourceHeader="Available" targetHeader="Selected"
                [responsive]="true" [sourceStyle]="{'height':'30rem'}" [targetStyle]="{'height':'30rem'}"
                filterBy="FullName" sourceFilterPlaceholder="Search by name" targetFilterPlaceholder="Search by name"
                [dragdrop]="true"  >


                <ng-template let-student pTemplate="item" id="x">
                    
                    <div class="product-item"     >
                        <div class="image-container" >
                            <!--img src="assets/showcase/images/demo/product/{{letter.image}}" [alt]="letter.name" class="letter-image" /-->
                        </div>
                        <div class="product-list-detail"      >
                            <h5  class="p-mb-2">{{student.FullName}}&nbsp; 
                              

                                
                                <i *ngIf="student.wll.length!=0" class="pi pi-envelope  p-mr-4 p-text-secondary " pBadge 
                                  style="font-size: 1.3rem; color: red; background-color:orange;" 
                                  value={{student.wll.length}}
                                  [pTooltip]="tip(student.wll)"  tooltipPosition="bottom" [escape]="false"  >
                                  
                                </i>
                             </h5> 
                            <i class="fa fa-map-marker"></i>&nbsp;{{student.Site}}
                       
                        </div>
                        <div class="product-list-action" >
                            <h5 class="p-mb-2">{{student.AppliedDate | date}}</h5>
                            
                            <p-badge *ngIf="student.ApprovalStatus !=null && student.ApprovalStatus.toUpperCase() == 'APPROVED'" value="{{student.ApprovalStatus.toUpperCase()}}" size="medium" severity="success"></p-badge>
                            <p-badge *ngIf="student.ApprovalStatus !=null && student.ApprovalStatus.toUpperCase() != 'APPROVED'" value="{{student.ApprovalStatus.toUpperCase()}}" size="medium" severity="warning"></p-badge>

                            
                        </div>
                    </div>
                </ng-template>>
                
            </p-pickList>
            

        </div>
    </div>


</div>
