<p-table [columns]="cols" [value]="students" class="some-custom-class-name" sortMode="single" [scrollable]="true"
    [rows]="10" [rowHover]="true" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" scrollHeight="80vh"
    styleClass="p-datatable-sm p-datatable-striped" [paginator]="true" [rowsPerPageOptions]="[10,25,50]"
    sortField="students.FullName">

    <ng-template pTemplate="header" let-columns>
        <tr>
            <ng-container *ngFor="let col of columns">
                <th *ngIf="col.visible" [pSortableColumn]="col.field" [pTooltip]="col.tooltip" tooltipPosition="bottom">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                    <p-columnFilter styleClass="some-custom-class-name" [showAddButton]="false" type="text"
                        field={{col.field}} display="menu" style="color: red !important;">
                    </p-columnFilter>
                </th>
            </ng-container>
            <th></th>
        </tr>


    </ng-template>

    <!--<img src="{{'data:image/jpg;base64,' + imagePath}}" />-->

    <ng-template pTemplate="body" let-row let-columns="columns">
        <tr class="p-selectable-row">

            <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                <td *ngIf="col.visible">

                    <div *ngSwitchCase="'SchoolID'">
                        {{row[col.field]!=null ? this.schools[row[col.field]-1].SchoolName:'' }}
                    </div>
                    <div *ngSwitchDefault>
                        {{row[col.field]}}
                        
                        

                    </div>



                </td>
            </ng-container>

            <td>
                <button class="fa fa-pencil" style="color: blue; border:0;"
                    (click)="editStudent(row)" ></button>

&nbsp;
                <button class="fa fa-trash" style="color: red; border:0 ;"
                    (click)="deleteStudent(row)"></button>


            </td>

        </tr>
    </ng-template>

</p-table>


<p-dialog [(visible)]="studentDialog" [style]="{width: '450px'}" header="Edit Student Details" [modal]="true"
    styleClass="p-fluid p-grid" >

{{student.SchoolID}}
    <ng-template pTemplate="content">

        <div class="p-field p-col-12 p-md-4">
            <span class="p-float-label">
                <input type="text" id="FirstName" pInputText [(ngModel)]="student.FirstName" required autofocus>
                <label for="FirstName">First name</label>
                <small class="p-error" *ngIf="submitted && !student.FullName">First name is required.</small>
            </span>
        </div>

        <div class="p-field p-col-12 p-md-4">
            <span class="p-float-label">
                <input type="text" id="LastName" pInputText [(ngModel)]="student.LastName" required autofocus>
                <label for="LastName">Last name</label>
                <small class="p-error" *ngIf="submitted && !student.LastName">Last name is required.</small>
            </span>
        </div>


        <div class="p-field p-col-12 p-md-4">
            <span class="p-float-label">
                <input type="text" id="CostCenter" pInputText [(ngModel)]="student.CostCenter" required autofocus>
                <label for="CostCenter">Cost Center</label>
                <small class="p-error" *ngIf="submitted && !student.CostCenter">Cost Center is required.</small>
            </span>
        </div>

        <div class="p-field p-col-12 p-md-4">
            <span class="p-float-label">
                <input type="text" id="PostingManager" pInputText [(ngModel)]="student.PostingManager">
                <label for="PostingManager">PostingManager</label>
                <small class="p-error" *ngIf="submitted && !student.PostingManager">PostingManager is required.</small>
            </span>
        </div>


        <div class="p-field p-col-12 p-md-4">
            
            <span class="p-float-label">
                <p-dropdown [style]="{'width':'100%'}" appendTo="body" id="SchoolName" [showClear]='true'  
                    [options]=schools  [(ngModel)]="student.SchoolID"  optionLabel="SchoolName" optionValue="ID" >
                </p-dropdown>
                <label for="SchoolName">School Name</label>
            </span>
        </div>


      



    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveStudent()"></button>
    </ng-template>

</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>