:host {
    
    font-size: x-small;
    
}
:host ::ng-deep .pi-sort-alt:before {
    
    color: chartreuse;
}

  :host ::ng-deep .pi-sort-alt:after {
    
    color: chartreuse;
  }

  :host ::ng-deep .pi-sort-alt::content{
    
    color: chartreuse;
  }


.lbl{
    color: blue;
    font-weight: bold;
}




.studentClass::ng-deep th {
    background-color:rgb(80, 80, 80 ) !important;
    color: yellowgreen !important;
}

/*
pi-sort-alt
pi-sort-amount-up
pi-sort-amount-down
pi-sort-amount-down-alt
pi-sort-amount-up-alt
*/

:host ::ng-deep .p-dialog-header {
    /*background-color: crimson;
    color: chartreuse;*/
  }
  :host ::ng-deep .p-dialog-content {
    /*background-color:darkcyan;
    width: 100%;
    color: chartreuse;*/
  }
  :host ::ng-deep .container {
    /*background-color:darkorange;
    width: 100%;*/
    min-width: 100%;
    /*color: chartreuse;*/
  }