:host {
    
    font-size: x-small;
    
}
:host ::ng-deep .pi-sort-alt:before {
    
    color: chartreuse;
}

  :host ::ng-deep .pi-sort-alt:after {
    
    color: chartreuse;
  }

  :host ::ng-deep .pi-sort-alt::content{
    
    color: chartreuse;
  }

  :host ::ng-deep .pi-filter-icon{
    
    color:cornflowerblue;
  }

.lbl{
    color: blue;
    font-weight: bold;
}




.studentClass::ng-deep th {
    background-color:rgb(80, 80, 80 ) !important; 
    
    color: yellowgreen !important;
}


/*
pi-sort-alt
pi-sort-amount-up
pi-sort-amount-down
pi-sort-amount-down-alt
pi-sort-amount-up-alt
*/

:host ::ng-deep .p-dialog-header {
    background-color:whitesmoke ;
    /*color: chartreuse;*/
  }

  :host ::ng-deep .p-dialog-footer {
    background-color:whitesmoke ;
    /*color: chartreuse;*/
  }
  :host ::ng-deep .p-dialog-footer .pi-times .pi-check .p-button-label {
    
    font-weight:bolder;
  }

 

  :host ::ng-deep .p-dialog-content {
    background-color:white;
  }

  :host ::ng-deep .container {
   min-width: 100%;
  }