<p-header>
    <h3>Data feed structure</h3>
</p-header>
<p-tree [value]="postings" selectionMode="single"></p-tree>




<button pButton type="button" label="Refresh current dataset" class="p-button-success" (click)="mergeData()"></button>

&nbsp;

<button pButton type="button" label="Reset data" class="p-button-danger" (click)="showConfirm()"></button>

&nbsp;



<button (click)="export2Excel()" pButton type="button" label="Export current data" class="p-button-warning"></button>



<p-dialog [(visible)]="!ready" [style]="{width: '50%'}" header="Bring new data" [modal]="true"
    styleClass="p-fluid p-grid">

    <ng-template pTemplate="content" style="width: '20%';">
        <span *ngIf="!ready">
            <p-card>

                <p-progressBar mode="indeterminate" [style]="{'width': '800px'}"></p-progressBar>
            </p-card>
        </span>
    </ng-template>
</p-dialog>



<p-toast position="center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem; float: right;"></i>
                <h4>{{message.summary}}</h4>
                <p style="font-weight: bolder; font-size: large; text-transform: uppercase;">{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>

<div class="card">