<p-header>
    <h3>Data feed structure</h3>
</p-header>
<p-tree [value]="postings" selectionMode="single"></p-tree>




<button pButton type="button" label="Refresh current dataset" class="p-button-success" (click)="mergeData()"></button>

&nbsp;

<button pButton type="button" label="Reset data" class="p-button-danger" (click)="reset()"></button>

&nbsp;



<button (click)="export2Excel()" pButton type="button" label="Export current data" class="p-button-warning"></button>



<p-dialog [(visible)]="!ready" [style]="{width: '50%'}" header="Updating data..." [modal]="true"
    styleClass="p-fluid p-grid">

    <ng-template pTemplate="content" >
        <span *ngIf="!ready" >
            <p-card [style]="{'background-color': 'lightgray'}">

                <p-progressBar  mode="indeterminate" [style]="{'width': '100%'}"></p-progressBar>
            </p-card>
        </span>
    </ng-template> 
</p-dialog>





<p-dialog [(visible)]="resetDialog" [style]="{width: '20%'}" header="Confirm reset"
    [modal]="true" styleClass="p-fluid p-grid"  class='confirm' >
    <ng-template pTemplate="content"  >
        <div class="p-grid">
            <div class="container" >
                <div class="row" >
                    <p-card [style]="{'background-color': 'red', 'color': 'yellow'}">
                    <div class="col-sm-12" >
                        <div class="p-field-checkbox" >
                            <label style="font-size: larger; font-weight: bolder; " for="binary">Create backup?</label>
                            &nbsp;&nbsp;&nbsp;
                            <p-checkbox [(ngModel)]="checked" [binary]="true"  inputId="binary"></p-checkbox>
                            
                        </div>
                    </div>

                    </p-card>
                </div>


            </div>

        </div>







    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" style="color: red;"
            (click)="hideDialog()"></button>
        <button pButton pRipple label="OK"  icon="pi pi-check" class="p-button-text" style="color: green;"
            (click)="resetData()"></button>
    </ng-template>

</p-dialog>